.workshopeditor-div {
  margin-left: 50px;
  margin-bottom: 30px;
  min-height: 450px;
  margin-top: 25px;
}
.workshopeditor-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin-top: 10px;
  width: 80%;
  max-height: 70px;
}

.workshopeditor-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.822);
}

.workshopeditor-card-first:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.822);
}

.editor-card-image {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  padding: 0px;
  margin: 10px;
  text-align: "center";
}
.editor-formfile {
  border-width: 1px;
  border-color: "red";
}
